#loginbox{
  margin-left: 45%;
}
#Inputlogin{
  border-radius: 5px;
  border: 0px;
}
#passwordbox{
  margin-top: 34px;
  margin-left: 1%;
}
#Inputpassword{
  border-radius: 5px;
  border: 0px;
}
#Forgetpassword{
  font-size: 10px;
  margin-left: 0px;
  margin-top: 2px;
  cursor: pointer;
  user-select: none;
  color: white;
}
